form.account-settings {
}

form .form-group {
   width: 57%;
   min-width: 320px;
   margin: 0 auto;
   margin-bottom: 0.5em;
}
form .form-group:last-child {
   margin-top: 1em;
}

form .form-group input {
   outline: none;
   padding: 5px 0.5rem;
   width: 100%;
   border-radius: 0px;
}
form .form-group input:focus {
   outline: none;
}
