.setoran-view {
   min-height: 601px;
   margin-bottom: 10px;
}

.form-setoran {
   width: 80%;
   margin: 0 auto;
   margin-top: 2rem;

   .form-group {
      margin-bottom: 2em;
      width: 100%;
   }
}

.table-filter {
   margin: 1em 0;
   > * {
      margin: 0 1em;
   }

   > button {
      float: right;
      background-color: var(--primary);
      margin-left: 1rem;
      color: white;
      > span {
         font-weight: 500;
      }

      &:hover {
         color: black;
      }
   }
}

.table-setoran {
   tfoot > tr > td {
      border-bottom: none;
   }

   .table-filter {
      > .MuiInputBase-root {
         margin-left: 10px;
      }
   }

   thead {
      background-color: #ececec;
      tr > th {
         font-weight: 600;
      }
   }

   tbody > tr {
      &:hover {
         background-color: #f5f5f5;
      }
   }

   td.col {
      padding-top: 8px;
      padding-bottom: 8px;
   }

   th.col-index,
   td.col-index {
      width: 50px;
   }

   th.col-date,
   td.col-date {
      width: 120px;
   }

   th.col-name,
   td.col-name {
      width: 150px;
   }

   // th.col-date,
   // td.col-date {
   //    width: 120px;
   // }
}

// div.asd {
//    background-image: url();
// }