

.form-setoran {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;

    .form-group {
        margin-bottom: 2em;
        width: 100%;
    }
}

.table-setoran {
    tfoot > tr > .table-filter {
        border-bottom: none;
    }

    .table-filter {
        > .MuiInputBase-root {
            margin-left: 10px;
        }
    }
}